{% extends "base.html" %}

{% block title %}RSVP{% endblock %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/rsvp_form.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rsvp_form.js"></script>
{% endblock %}

{% block content %}
<h1>Reservations</h1>

<p>Simply fill out and submit the form below to set your reservation.</p>

<p>We will be serving a full meal (at no cost to our guests, of course) at the
    reception, around 2:00 PM. We are offering chicken, fish, and steak
    entre&eacute;s (descriptions below the form). Additionally, the caterer offers
    a limited number of vegetarian or gluten free alternatives if needed.
</p>

<form method="post" action="{{ path }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    
    # iterate over each invitee and provide a separate
    # form object for each
    {% for invitee, form in forms %}
    <section class="invitee" data-age="{{ invitee.age_group }}">
        <h1>{{ invitee }}</h1>
        <ul>
            {% for field in form %}
                {% include "reservations/field.html" %}
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
    
    <section class="submit">
        <input type="submit" value="Submit Reservation" />
    </section>
</form>

<div class="hr"></div>

<p style="margin-bottom: 0px;">Entre&eacute; descriptions:</p>

<ul>
    <li><b>chicken</b>: roasted, free-range chicken, basted with lemon and rosemary</li>
    <li><b>fish</b>: blackened mahi mahi, pineapple salsa, and grilled banana</li>
    <li><b>steak</b>: New York strip steak with 1890 steak sauce</li>
</ul>
{% endblock %}