{% extends "base.html" %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/travel.css" />
{% endblock %}

{% block content %}
    <h1>Travel Information</h1>
    
    <h2>Flights &amp; Airports</h2>
    
    <p>The closest airport is <a href="http://www.bradleyairport.com/home/" target="_blank">Bradley
        International Airport</a>, which serves the greater Hartford area. The airport code is BDL.
    </p>
    
    <p>If you are coming in for the rehearsal and rehearsal dinner, you will need to be at
        Holy Cross Church by 7:00 PM on Friday evening; therefore, please plan your flight to arrive
        several hours in advance of that time.
    </p>
    
    <p>Our experience has been that coming from Texas, <a href="http://www.aa.com/" target="_blank">American
        Airlines</a> or <a href="http://www.delta.com/" target="_blank">Delta</a> are usually
        the least expensive carriers; however, if traveling from other locations on the east coast,
        <a href="http://www.southwest.com/" target="_blank">Southwest</a> or
        <a href="http://www.usairways.com/" target="_blank">US Airways</a> are usually the least
        expensive carriers.
    </p>
    
    <p>It is also entirely feasible to fly into New York City (JFK) and take the train from
        there to New Britain; some of our friends have expressed a desire to do this for their own
        vacationing reasons. If going this route, <a href="http://www.jetblue.com/" target="_blank">JetBlue</a>
        flies nonstop to JFK from most locations. From there, you'll want to take
        <a href="http://www.amtrak.com/">Amtrak</a> from New York City's Penn Station (NYP) to Berlin, CT (BER).
    </p>

    <h2>Lodging</h2>
    
    <p>We have reserved a block of rooms at the
        <a href="http://www.marriott.com/hotels/travel/bdlhf-courtyard-hartford-farmington/" target="_blank">Courtyard
        Marriott</a> hotel in Farmington, CT, at the discounted rate of $99/night. Call (860) 521-7100
        and mention the McClellan/Sneeringer wedding.
    </p>
    
    <p>If you are coming from out of town and will need a hotel, please consider including yourself in
        the block if possible, as we have an obligation to fill rooms.
    </p>


	<h2>Driving Directions</h2>
	
	<h3>Bradley International Airport to the Courtyard Marriott</h3>
	<ul>
		<li>Head south from the airport on <b>Schoephoester Rd.</b> for under 1 mile.</li>
		<li>Schoephoester will turn into <b>CT-401</b>, going south. Continue for 4 miles.</li>
		<li>Turn right onto <b>I-91</b> (toward Hartford), going south, for 10 miles.</li>
		<li>Turn right onto <b>I-84</b> (toward Waterbury), going west, for 7 miles.</li>
		<li>Take exit 39A onto <b>CT-9</b>, going south toward New Britain, for 1.5 miles.</li>
		<li>Take exit 30 onto <b>CT-71</b> (Southeast Rd.); the hotel will be on the right.</li>
	</ul>
	
	<h3>Courtyard Marriott to Holy Cross Church</h3>
	<ul>
		<li>Head south on <b>CT-71</b> (Southeast Rd.) for just under 2 miles.</li>
		<li>Turn right on <b>Eddy Glover Blvd.</b>; go just over 1 mile.</li>
		<li>Turn left onto <b>Farmington Ave.</b> and go a trivial distance.</li>
		<li>Take the first right onto <b>Biruta St.</b>; Holy Cross Church will be on the right.</li>
	</ul>
{% endblock %}