#content h2 {
    margin-top: 24px;
}

#content form h1 {
    clear: both;
    font-style: italic;
    font-weight: normal;
    margin-top: 24px;
}

#content form > .invitee > ul {
    list-style: none;
    margin-left: 12px;
}

#content form > .invitee > ul > li {
    clear: both;
    margin-top: 8px
}

#content form > .invitee > ul > li > label {
    font-size: 16px;
    font-weight: bold;
}

/* radio selects */
#content .form-input > ul {
    height: 24px;
    list-style: none;
    margin-left: 0px;
}

#content .form-input > ul > li {
    float: left;
    padding-left: 4px;
    width: 124px;
}

#content .submit {
    clear: both;
    margin-top: 24px;
}

/* special meals */
.special {
    cursor: pointer;
    font-size: 13px;
    font-style: italic;
    margin-left: 20px;
    opacity: 0.35;
}

/* horiztonal rule */
#content .hr {
    background-color: black;
    color: black;
    height: 1px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 80%;
}