/* sweeping things */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: #0000D0;
    text-decoration: none;
}

body {
    background-attachment: fixed;
    background-color: #fdfefd;
    background-image: url('/static/img/background.png');
    background-position: center 0px;
    background-repeat: no-repeat;
    font-family: Arial;
    padding: 0px;
    position: relative;
}

#enclosure {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 980px;
}

/* nav */
nav {
    display: block;
    position: fixed;
    top: 60px;
    width: 200px;
    z-index: 5000;
}

nav a:first-child {
    height: 80px;
    padding-top: 0px;
}

nav a {
    border: 0px;
    color: #606060;
    display: block;
    font-family: Georgia;
    font-size: 12px;
    font-weight: bold;
    height: 52px;
    letter-spacing: 1px;
    padding-top: 18px;
    text-align: center;
    width: 200px;
}

nav a:hover, nav a:active {
    background-image: url('/static/img/nav-highlight.png') !important;
    background-repeat: repeat-y;
}

nav a.selected {
    background-image: url('/static/img/nav-selected.png');
    background-repeat: repeat-y;
    color: black;
}

nav a img {
    border: 0px;
}

/* content box */
#content {
    display: block;
    font-family: Georgia;
    margin-top: 16px;
    margin-left: 220px;
    position: relative;
    width: 720px;
}

#content > h1 {
    font-family: Georgia, Times, Serif;
    font-size: 24px;
    letter-spacing: 0.25em;
    margin-top: 40px;
    text-align: center;
}

#content > h2 {
    margin-top: 24px;
}

#content p {
    line-height: 200%;
    margin-top: 12px;
    margin-bottom: 24px;
}

#content p.byline {
    font-size: 12px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 260px;
    text-align: right;
}

#content p.byline:before {
    content: "~ ";
}

#content p.bible-quote {
    font-style: italic;
    text-align: center;
}

#content > ul {
    margin-top: 12px;
}

#content ul {
    margin-left: 40px;
}

#content ul li {
    font-family: Georgia, Times, Serif;
    line-height: 150%;
}

/* home page */
#invitation {
    margin-right: 48px;
    padding-top: 48px;
    text-align: center;
}

/* footer */
footer {
    top: 4px;
    color: #606060;
    font-family: Georgia, Times, Serif;
    font-size: 10px;
    font-style: italic;
    position: fixed;
    text-align: right;
    width: 920px;
}

/* forms */
#content form h1 {
    clear: both;
    font-style: italic;
    font-weight: normal;
    margin-top: 24px;
}

#content form > ul, #content form > section > ul {
    list-style: none;
    margin-left: 12px;
}

#content form > ul > li, #content form > section > ul > li {
    clear: both;
    margin-top: 24px
}

#content form > ul > li > label, #content form > section > ul > li > label {
    font-size: 16px;
    font-weight: bold;
}

/* radio selects */
#content .form-input > ul {
    height: 24px;
    list-style: none;
    margin-left: 0px;
}

#content .form-input > ul > li {
    float: left;
    padding-left: 4px;
    width: 124px;
}

/* other form elements */
#content .form-input input[type="text"], #content .form-input input[type="password"] {
    font-size: 20px;
}

input[type="submit"] {
    font-size: 20px;
}

/* form help text */
.help-text {
    font-size: 13px;
    font-style: italic;
}

/* form errors */
#content ul.errorlist {
    color: red;
    font-weight: bold;
    list-style: none;
    margin-left: 0px;
}

#content .submit {
    clear: both;
    margin-top: 24px;
}

/* horiztonal rule */
#content .hr {
    background-color: black;
    color: black;
    height: 1px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 80%;
}