{% extends "base.html" %}

{% block content %}
    <h1>About Meagan</h1>
    <p class="byline">by Luke</p>

    <p>Meagan was born in Germany while her parents were stationed there,
        and was moved to the United States with her family when she was 2.
        She grew up in Middletown, CT with her parents and brother, Michael,
        as well as her grandparents and other extended family. She attended
        college at The Johns Hopkins University, and graduated in 2008,
        and is now serving in the United States Army, holding the rank
        of Captain.
    </p>
    
    <p>She enjoys knitting, cooking, reading, watching procedural
        ("who done it!") television series, and is an avid aficionado of
        tea.
    </p>
    
    <p>More importantly, Meagan is gentle, kind, and patient with others.
        She is always interested in learning more about almost any topic
        that may be in front of her. She is quick to laugh (even at my terrible
        jokes!) and slow to anger or frustration.
    </p>
        
{% endblock %}