<!doctype html>
<html>
	<head>
		<title>{% if title %}{{ title }} - {% endif %}Luke &amp; Meagan</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/global.css" />
		{% block media %}
		{% endblock %}
	</head>
	<body>
		<nav>
			<a href="{{ url('home') }}"><img src="{{ STATIC_URL }}img/logo-sm.png" /></a>
			{% for nav_item in nav %}
			    <a href="{% if nav_item.url %}{{ nav_item.url }}{% else %}{{ url('info', kwargs={ 'template_name': nav_item.area }) }}{% endif %}"{% if area == nav_item.area or path.split('/')[1] == nav_item.area %} class="selected"{% endif %}>{{ nav_item.label }}</a>
			{% endfor %}
		</nav>
		<div id="content">
		    {% if title %}
		        <h1>{{ title }}</h1>
		    {% endif %}
			
			{% block content %}
			{% endblock %}
		</div>
		<footer>
    		{% if not user.is_anonymous() %}
		        logged in as <b>{{ user.invitation.informal_name }}</b>:
		        {% if user.is_superuser %}<a href="/admin/">admin</a> | {% endif %}
		        <a href="{{ url('password-change') }}">change password</a> |
		        <a href="{{ url('logout') }}">logout</a>
    		{% endif %}
	    </footer>
	</body>
</html>