<!doctype html>
<html>
	<head>
		<title>{% if title %}{{ title }} - {% endif %}Luke &amp; Meagan</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/global.css" />
		{% block media %}
		{% endblock %}
	</head>
	<body>
		<nav>
			<a href="{{ url('home') }}"><img src="{{ STATIC_URL }}img/logo-sm.png" /></a>
			<a href="{{ url('info', kwargs={ 'template_name': 'about-luke' }) }}">About Luke</a>
			<a href="{{ url('info', kwargs={ 'template_name': 'about-meagan' }) }}">About Meagan</a>
			<a href="">Directions</a>
			<a href="">Photos</a>
			<a href="">Registry</a>
			<a href="">RSVP</a>
		</nav>
		<div id="content">
		    {% if title %}
		        <h1>{{ title }}</h1>
		    {% endif %}
			
			{% block content %}
			{% endblock %}
		</div>
		<!--
		<footer>
			<p>&copy; 2012, Luke Sneeringer</p>
		</footer>
		-->
	</body>
</html>