{% extends "base.html" %}

{% block content %}
	<h1>Directions</h1>
	
	<h2>Bradley International Airport to the Courtyard Marriott</h2>
	<ul>
		<li>blah blah blah</li>
		<li>blah blah blah</li>
	</ul>
	
	<h2>Courtyard Marriott to Holy Cross Church</h2>
	<ul>
		<li>Head south on <b>CT-71</b> (Southeast Rd.) for just under 2 miles.</li>
		<li>Turn right on <b>Eddy Glover Blvd.</b>; go just over 1 mile.</li>
		<li>Turn left onto <b>Farmington Ave.</b> and go a trivial distance.</li>
		<li>Take the first right onto <b>Biruta St.</b>; Holy Cross Church will be on the right.</li>
	</ul>
{% endblock %}